{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
  <body>
    <table class='table table-sm table-responsive'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Kind</th>
          <th>Category</th>
          <th>Sub-Category</th>
          <th>Description</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for t in transactions %}
        <tr>
          <td>{{ t.id }}</td>
          <td>{{ t.date }}</td>
          <td>{{ t.kind }}</td>
          <td>{{ t.category }}</td>
          <td>{{ t.sub_category }}</td>
          <td>{{ t.description }}</td>
          <td>{{ t.amount }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
